@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(49, 49, 60);
  background: linear-gradient(
    346deg,
    rgba(49, 49, 60, 1) 0%,
    rgba(29, 29, 81, 1) 35%,
    rgba(31, 69, 77, 1) 100%
  );
  overflow-x: hidden;
}
